node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.env*
.git
.github
.vscode
.idea
*.md
.prettierrc
eslint.config.mjs
.gitignore
.env.json
.env
.env.local
.env.development
.env.production
.env.test
.env.test.local
.env.test.local
.prettierignore
