.idea
.venv
.cursor
.vscode
.changeset
.husky
*.tar
**/dist
**/conf
**/public
**/LOCAL.README.MD
**/README.*
**/*.db
**/.turbo
**/node_modules
**/.trubo
Dockerfile
**/.DS_Store
.git
**/tsconfig.tsbuildinfo
**/docker-compose.yml
**/.env
**/.env.local