; 请妥善保管您的配置
registry=https://registry.npmjs.org/
registry=https://packages.aliyun.com/68f7b140876b90de1aabc1c7/npm/npm-registry/
always-auth=true
//packages.aliyun.com/68f7b140876b90de1aabc1c7/npm/npm-registry/:_authToken=3d0fb1d9-f25f-4658-b100-893fc9bf23e2

sass_binary_site="https://npmmirror.com/mirrors/node-sass/"
phantomjs_cdnurl="https://cdn.npmmirror.com/binaries/phantomjs"
electron_mirror="https://cdn.npmmirror.com/binaries/electron/"
sqlite3_binary_host_mirror="https://foxgis.oss-cn-shanghai.aliyuncs.com/"
chromedriver_cdnurl="https://cdn.npmmirror.com/binaries/chromedriver"
