; 请妥善保管您的配置
registry=https://g-rrng9518-npm.pkg.coding.net/obsync/straits/
always-auth=true
//g-rrng9518-npm.pkg.coding.net/obsync/straits/:username=straits-1749959900659
//g-rrng9518-npm.pkg.coding.net/obsync/straits/:_password=ZTBjMmJjNWY2MTBmNGI2MGQyYjBlMmU5OGY3ZjIzNjY3OTliMTM4YQ==
//g-rrng9518-npm.pkg.coding.net/obsync/straits/:email=uroborusy2l@gmail.com