; 请妥善保管您的配置
registry=https://g-rrng9518-npm.pkg.coding.net/npm/repo/
always-auth=true
//g-rrng9518-npm.pkg.coding.net/npm/repo/:username=repo-1749990658710
//g-rrng9518-npm.pkg.coding.net/npm/repo/:_password=NTA0MGYwZWUwMDZhYjQ2YjI3NDUyZTk5Y2MwZWJhOTRjMWY2MmMzNw==
//g-rrng9518-npm.pkg.coding.net/npm/repo/:email=uroborusy2l@gmail.com