@wps:registry=https://g-rrng9518-npm.pkg.coding.net/obsync/sync/
//g-rrng9518-npm.pkg.coding.net/obsync/sync/:username=sync-1750080420644
//g-rrng9518-npm.pkg.coding.net/obsync/sync/:_password=NDgzNzQyMTI4MDc4Mjg1YmJhMDBhZTJmYWU1MGZlMTBmODQ1OGEyNg==
//g-rrng9518-npm.pkg.coding.net/obsync/sync/:email=sync-1750080420644@coding.net
//g-rrng9518-npm.pkg.coding.net/obsync/sync/:always-auth=true
